<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" type= "text/css" href="static/css/style.css">

</head>
<body>

<h1 class="bo">My cart</h1>
<button id="hi4"><a href="/hi">products</a></button>
<button id="hi5"><a href="/">Homepage</a></button>


<div class="card">
  <img src="https://www.lego.com/cdn/cs/set/assets/blt2d59c30a1f5031ab/41703_WEB_PRI_NOBG.png" alt="Denim Jeans" style="width:100%">
  <h1>Tree house party</h1>
  <p>party at a tree</p>
  <p class="price">$0</p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img src="https://www.lego.com/cdn/cs/set/assets/bltf7d23334777e16f1/21246.png" alt="Denim Jeans" style="width:100%">
  <h1>minecraft thing</h1>
  <p>explore caves with the minifiguresss</p>
  <p class="price">$0</p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img src="https://www.lego.com/cdn/cs/set/assets/blt6c32537ba11c66d2/76193.png" alt="Denim Jeans" style="width:100%">
  <h1>gotg ship</h1>
  <p>fly with thor!!!!!</p>
  <p class="price">$0</p>
  <p><button>Add to Cart</button></p>
</div>



</body>
</html>